#hero{
    height: 92vh;
    background-size: 100% 100%;
    
}
#hero-para{
    color: white;
    padding-top: 300px;
}

#about-img{
    margin-left: 50px;
    position: relative;
}
form {
    border: 1px solid gainsboro;
    padding: 20px;
    border-radius: 25px;
   
}